
    <div class="d-flex justify-content-center">
        <div  class="contador  textoContador">
            <p id="days">0</p>
            <span>Dias</span>
        </div>
        <div class="contador textoContador">
            <p id="hours">0</p>
            <span>Horas</span>
        </div>
        <div class="contador textoContador">
            <p id="minutes">0</p>
            <span>Minutos</span>
        </div>
       
    </div>
