<form action="/actualizar/<%= suscriptorActualizado._id %>" method="POST">
  <div class="mb-3">
    <label for="" class="form-label">Nombre</label>
    <input
      type="text"
      name="nombre"
      class="form-control"
      aria-describedby="emailHelp"
      value="<%= suscriptorActualizado.nombre %>"
    />

    <label for="" class="form-label">Correo electronico</label>
    <input
      type="email"
      name="correo"
      class="form-control"
      aria-describedby="emailHelp"
      value="<%= suscriptorActualizado.correo %>"
    />

    <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
  </div>
</form>
