<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div><%- include("../views/partials/crear")%></div>
    <div>
      <ul>
        <% suscriptorListado.forEach(function(suscriptor) { %>

        <li><%= suscriptor.nombre %></li>
        <li><%= suscriptor.correo %></li>
        <button>Actualizar</button>
        <button>Eliminar</button>
        <% }); %>
      </ul>
    </div>
  </body>
</html>

