.cajaTexto{
    margin-top: 3%;
}

.espaciado{
margin-top: 5%;
}


.correo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.form-inline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-long {
    width: 12rem; 
    background-color:#0959BA;
}
.cuenta{
    margin-right: 3rem;
}
.name{
    max-width: 100%;
    width: 8rem;
    font-size: 15px;
    ;
    
}
.correoE{
    max-width: 100%;
    width: 10rem;
    font-size: 15px;
    ;

}
.btnSus{
    max-width: 100%;
    width: 10rem;
    font-size: 15px;
   
}

