<form action="/crud/crear" method="POST" class="form-inline">
  


<div class="row">
  <div class="col mx-n3">
    <input
      type="text"
      name="nombre"
      class="form-control mr-1 name"
      placeholder="Nombre"
      
    />
  </div>
  <div class="col mx-n1">
    
    <input
      type="email"
      name="correo"
      class="form-control mr-1"
      placeholder="Correo electrónico"
    />
  </div>

  <div class="col">
    <button type="submit" class="btn btn-primary btn-long">SUSCRIBETE</button>
  </div>
</div>

</form>