<form action="/crud/crear" method="POST">
  <div>
    <input type="text" name="nombre" placeholder="Nombre" />
    <input type="email" name="correo" placeholder="Correo electronico" />
    <button>SUSCRIBETE</button>
  </div>
</form>
