<form action="/crud/crear" method="POST" class="form-inline">
  


<div class="d-flex justify-content-center">
  <div class="row col-5">
    <input
      type="text"
      name="nombre"
      class="form-control mr-1 name"
      placeholder="Nombre"
      
    />
  </div>
  <div class="row col-6">
    
    <input
      type="email"
      name="correo"
      class="form-control mr-1 correoE"
      placeholder="Correo electrónico"
    />
  </div>

  <div class="row col-4">
    <button type="submit" class="btn btn-primary btn-long btnSus">SUSCRIBETE</button>
  </div>
</div>

</form>