body{
position: relative;
width: 1920px;
height: 1024px;

background: linear-gradient(74.24deg, #1EA2D6 0%, #5BB4F3 23.06%, #1979EE 43.5%, #1571E0 72.85%, #0959BA 100.63%);
}
*{
    background-color: red;
}